- source ||= nil
- target ||= nil

%h3 Explain

= action_parameters do
  - input :source, :string, "Source entity"
  - input :target, :string, "Target entity"

- if source and target
  - require 'explain'
  -  Workflow.require_workflow "Genomics"
  -#  Workflow.require_workflow "Miller"
  -  require 'rbbt/knowledge_base/Genomics'


  - kb = user_kb(user)
  - kb.format = {"Gene" => "Ensembl Gene ID"}
  - kb.namespace = Organism.deault_code("Hsa")

  - kb.syndicate(:genomics, Genomics.knowledge_base)

  - log :norm
  - source = kb.identify_source "pina@genomics", source
  - target = kb.identify_target "pina@genomics", target

  - log :explain
  - path_evidence = explain(kb, source, target, 3, 3)

  - if path_evidence.nil?
    No connection found
  - else
    - associations = []
    %dl.tabs
      - path_evidence.each do |path,evidences|
        %dt.next= path * " => "
        %dd.show
          %dl
            - evidences.each do |pair, list|
              %dt= pair * " => "
              %dd
                - associations.concat list.to_a
                - list.each do |item|
                  %li [#{item.database}] #{item.name} -- #{Misc.fingerprint item.info}

    = graph do
      - add_associations associations
